---
layout: default
---
<section class="section">
	<div class="container">
		{% for post in site.posts %}
			<div class="columns is-mobile">
				<div class="column is-4">
					<p class="subtitle4">
						{{ post.date | date: "%Y/%m/%d" }}
					</p>
					<h2 class="title">
						<a href="{{ site.baseurl }}{{ post.url }}">
							{{ post.title }}
						</a>
					</h2>
				</div>
				<div class="column is-8">
					<div class="content">
						{{ post.content }}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</section>
